.App{
background-image: url("https://i.ibb.co/0tBmFNd/webbackground.png");
}

.background{
  background-repeat: repeat !important;
}

.groupButton{
  margin: 2px;
}

.formLabel{
  color: white;
}

.navBarbutton{
background-color: transparent;
border: transparent;
margin: 2px;
}

h1, h2, h3, h4, h5, h6 {
  color: white !important;
}