.App{

}

.background{
  background-repeat: repeat !important;
}

.groupButton{
  margin: 2px;
}

.formLabel{
  color: white;
  padding: 5px;
}

.navBarbutton{
background-color: transparent;
border: transparent;
margin: 2px;
}

h1, h2, h3, h4, h5, h6 {
  color: white !important;
}